In [2]:
import numpy as np
import pandas as pd
import scipy.stats as stats
import matplotlib.pyplot as plt
import seaborn as sns

Datensätze einspielen & prüfen.
- Bei Datensatz: "games_details.csv" konnten die Datentypen nicht richtig eingelesen werden. --> wurden als "object" eingelesen
- Aus diesem Grund wurden diese manuell übergeben --> auf "string"

In [3]:
# NBA games data
games = pd.read_csv("data/NBA games data/games.csv", sep=',', decimal='.')
games_details = pd.read_csv("data/NBA games data/games_details.csv", sep=',', decimal='.', dtype= {"TEAM_ABBREVIATION": "string","TEAM_CITY": "string", "PLAYER_NAME": "string", "NICKNAME": "string", "START_POSITION": "string", "COMMENT": "string"})
players = pd.read_csv("data/NBA games data/players.csv", sep=',', decimal='.')
ranking = pd.read_csv("data/NBA games data/ranking.csv", sep=',', decimal='.')
teams = pd.read_csv("data/NBA games data/teams.csv", sep=',', decimal='.')

# NBA Player
all_seasons = pd.read_csv("data/NBA games data/teams.csv", sep=',', decimal='.')

- Überprüfung aller Datentypen des jeweiligen Datensatzes

In [4]:
games.dtypes

GAME_DATE_EST        object
GAME_ID               int64
GAME_STATUS_TEXT     object
HOME_TEAM_ID          int64
VISITOR_TEAM_ID       int64
SEASON                int64
TEAM_ID_home          int64
PTS_home            float64
FG_PCT_home         float64
FT_PCT_home         float64
FG3_PCT_home        float64
AST_home            float64
REB_home            float64
TEAM_ID_away          int64
PTS_away            float64
FG_PCT_away         float64
FT_PCT_away         float64
FG3_PCT_away        float64
AST_away            float64
REB_away            float64
HOME_TEAM_WINS        int64
dtype: object

In [5]:
games_details.dtypes

GAME_ID                       int64
TEAM_ID                       int64
TEAM_ABBREVIATION    string[python]
TEAM_CITY            string[python]
PLAYER_ID                     int64
PLAYER_NAME          string[python]
NICKNAME             string[python]
START_POSITION       string[python]
COMMENT              string[python]
MIN                          object
FGM                         float64
FGA                         float64
FG_PCT                      float64
FG3M                        float64
FG3A                        float64
FG3_PCT                     float64
FTM                         float64
FTA                         float64
FT_PCT                      float64
OREB                        float64
DREB                        float64
REB                         float64
AST                         float64
STL                         float64
BLK                         float64
TO                          float64
PF                          float64
PTS                         float64
PLUS_MINUS                  float64
dtype: object

In [6]:
players.dtypes

PLAYER_NAME    object
TEAM_ID         int64
PLAYER_ID       int64
SEASON          int64
dtype: object

In [7]:
ranking.dtypes

TEAM_ID            int64
LEAGUE_ID          int64
SEASON_ID          int64
STANDINGSDATE     object
CONFERENCE        object
TEAM              object
G                  int64
W                  int64
L                  int64
W_PCT            float64
HOME_RECORD       object
ROAD_RECORD       object
RETURNTOPLAY     float64
dtype: object

In [8]:
teams.dtypes

LEAGUE_ID               int64
TEAM_ID                 int64
MIN_YEAR                int64
MAX_YEAR                int64
ABBREVIATION           object
NICKNAME               object
YEARFOUNDED             int64
CITY                   object
ARENA                  object
ARENACAPACITY         float64
OWNER                  object
GENERALMANAGER         object
HEADCOACH              object
DLEAGUEAFFILIATION     object
dtype: object

In [9]:
all_seasons.dtypes

LEAGUE_ID               int64
TEAM_ID                 int64
MIN_YEAR                int64
MAX_YEAR                int64
ABBREVIATION           object
NICKNAME               object
YEARFOUNDED             int64
CITY                   object
ARENA                  object
ARENACAPACITY         float64
OWNER                  object
GENERALMANAGER         object
HEADCOACH              object
DLEAGUEAFFILIATION     object
dtype: object

In [10]:
# Überprüfung auf fehlende Werte
missing_games_details = games_details.isnull().sum()
missing_teams = teams.isnull().sum()
missing_players = players.isnull().sum()
missing_ranking = ranking.isnull().sum()
missing_games = games.isnull().sum()
    

# Ausgabe der Spalten mit fehlenden Werten
print("Anzahl der fehlenden Werte pro Spalte (Games Details):")
print(missing_games_details)

print("\nAnzahl der fehlenden Werte pro Spalte (Teams):")
print(missing_teams)

print("\nAnzahl der fehlenden Werte pro Spalte (Player):")
print(missing_players)

print("\nAnzahl der fehlenden Werte pro Spalte (Ranking):")
print(missing_ranking)

print("\nAnzahl der fehlenden Werte pro Spalte (Games):")
print(missing_games)

Anzahl der fehlenden Werte pro Spalte (Games Details):
GAME_ID                   0
TEAM_ID                   0
TEAM_ABBREVIATION         0
TEAM_CITY                 0
PLAYER_ID                 0
PLAYER_NAME               0
NICKNAME             615591
START_POSITION       412863
COMMENT              558939
MIN                  109690
FGM                  109690
FGA                  109690
FG_PCT               109690
FG3M                 109690
FG3A                 109690
FG3_PCT              109690
FTM                  109690
FTA                  109690
FT_PCT               109690
OREB                 109690
DREB                 109690
REB                  109690
AST                  109690
STL                  109690
BLK                  109690
TO                   109690
PF                   109690
PTS                  109690
PLUS_MINUS           133351
dtype: int64

Anzahl der fehlenden Werte pro Spalte (Teams):
LEAGUE_ID             0
TEAM_ID               0
MIN_YEAR              0
MAX_YEAR              0
ABBREVIATION          0
NICKNAME              0
YEARFOUNDED           0
CITY                  0
ARENA                 0
ARENACAPACITY         4
OWNER                 0
GENERALMANAGER        0
HEADCOACH             0
DLEAGUEAFFILIATION    0
dtype: int64

Anzahl der fehlenden Werte pro Spalte (Player):
PLAYER_NAME    0
TEAM_ID        0
PLAYER_ID      0
SEASON         0
dtype: int64

Anzahl der fehlenden Werte pro Spalte (Ranking):
TEAM_ID               0
LEAGUE_ID             0
SEASON_ID             0
STANDINGSDATE         0
CONFERENCE            0
TEAM                  0
G                     0
W                     0
L                     0
W_PCT                 0
HOME_RECORD           0
ROAD_RECORD           0
RETURNTOPLAY     206352
dtype: int64

Anzahl der fehlenden Werte pro Spalte (Games):
GAME_DATE_EST        0
GAME_ID              0
GAME_STATUS_TEXT     0
HOME_TEAM_ID         0
VISITOR_TEAM_ID      0
SEASON               0
TEAM_ID_home         0
PTS_home            99
FG_PCT_home         99
FT_PCT_home         99
FG3_PCT_home        99
AST_home            99
REB_home            99
TEAM_ID_away         0
PTS_away            99
FG_PCT_away         99
FT_PCT_away         99
FG3_PCT_away        99
AST_away            99
REB_away            99
HOME_TEAM_WINS       0
dtype: int64

In [14]:
# Auswahl aller Zeilen mit mindestens einem fehlenden Wert
rows_missing_values_teams = teams[teams.isnull().any(axis=1)]

# Ausgabe der Zeilen mit fehlenden Werten
print("Zeilen mit mindestens einem fehlenden Wert:")
print(rows_missing_values_teams)

Zeilen mit mindestens einem fehlenden Wert:
    LEAGUE_ID     TEAM_ID  MIN_YEAR  MAX_YEAR ABBREVIATION  NICKNAME  \
2           0  1610612740      2002      2019          NOP  Pelicans
12          0  1610612751      1976      2019          BKN      Nets
16          0  1610612755      1949      2019          PHI     76ers
17          0  1610612756      1968      2019          PHX      Suns

    YEARFOUNDED          CITY                       ARENA  ARENACAPACITY  \
2          2002   New Orleans        Smoothie King Center            NaN
12         1976      Brooklyn             Barclays Center            NaN
16         1949  Philadelphia          Wells Fargo Center            NaN
17         1968       Phoenix  Talking Stick Resort Arena            NaN

            OWNER  GENERALMANAGER       HEADCOACH     DLEAGUEAFFILIATION
2      Tom Benson  Trajan Langdon    Alvin Gentry           No Affiliate
12       Joe Tsai      Sean Marks  Kenny Atkinson       Long Island Nets
16  Joshua Harris     Elton Brand     Brett Brown    Delaware Blue Coats
17  Robert Sarver     James Jones  Monty Williams  Northern Arizona Suns

In [16]:
# Auswahl aller Zeilen mit mindestens einem fehlenden Wert
rows_missing_values_games = games[games.isnull().any(axis=1)]

# Ausgabe der Zeilen mit fehlenden Werten
print("Zeilen mit mindestens einem fehlenden Wert:")
print(rows_missing_values_games)

Zeilen mit mindestens einem fehlenden Wert:
      GAME_DATE_EST   GAME_ID GAME_STATUS_TEXT  HOME_TEAM_ID  VISITOR_TEAM_ID  \
19175    2003-10-24  10300116            Final    1610612753       1610612762
19176    2003-10-24  10300108            Final    1610612737       1610612764
19177    2003-10-24  10300109            Final    1610612738       1610612751
19178    2003-10-24  10300113            Final    1610612759       1610612745
19179    2003-10-24  10300112            Final    1610612749       1610612765
...             ...       ...              ...           ...              ...
19269    2003-10-09  10300019            Final    1610612743       1610612756
19270    2003-10-09  10300022            Final    1610612757       1610612758
19271    2003-10-08  10300013            Final    1610612759       1610612763
19278    2003-10-08  10300015            Final    1610612747       1610612744
19279    2003-10-07  10300006            Final    1610612747       1610612744

       SEASON  TEAM_ID_home  PTS_home  FG_PCT_home  FT_PCT_home  ...  \
19175    2003    1610612753       NaN          NaN          NaN  ...
19176    2003    1610612737       NaN          NaN          NaN  ...
19177    2003    1610612738       NaN          NaN          NaN  ...
19178    2003    1610612759       NaN          NaN          NaN  ...
19179    2003    1610612749       NaN          NaN          NaN  ...
...       ...           ...       ...          ...          ...  ...
19269    2003    1610612743       NaN          NaN          NaN  ...
19270    2003    1610612757       NaN          NaN          NaN  ...
19271    2003    1610612759       NaN          NaN          NaN  ...
19278    2003    1610612747       NaN          NaN          NaN  ...
19279    2003    1610612747       NaN          NaN          NaN  ...

       AST_home  REB_home  TEAM_ID_away  PTS_away  FG_PCT_away  FT_PCT_away  \
19175       NaN       NaN    1610612762       NaN          NaN          NaN
19176       NaN       NaN    1610612764       NaN          NaN          NaN
19177       NaN       NaN    1610612751       NaN          NaN          NaN
19178       NaN       NaN    1610612745       NaN          NaN          NaN
19179       NaN       NaN    1610612765       NaN          NaN          NaN
...         ...       ...           ...       ...          ...          ...
19269       NaN       NaN    1610612756       NaN          NaN          NaN
19270       NaN       NaN    1610612758       NaN          NaN          NaN
19271       NaN       NaN    1610612763       NaN          NaN          NaN
19278       NaN       NaN    1610612744       NaN          NaN          NaN
19279       NaN       NaN    1610612744       NaN          NaN          NaN

       FG3_PCT_away  AST_away  REB_away  HOME_TEAM_WINS
19175           NaN       NaN       NaN               0
19176           NaN       NaN       NaN               0
19177           NaN       NaN       NaN               0
19178           NaN       NaN       NaN               0
19179           NaN       NaN       NaN               0
...             ...       ...       ...             ...
19269           NaN       NaN       NaN               0
19270           NaN       NaN       NaN               0
19271           NaN       NaN       NaN               0
19278           NaN       NaN       NaN               0
19279           NaN       NaN       NaN               0

[99 rows x 21 columns]

In [17]:

# Export der Zeilen mit fehlenden Werten in eine CSV-Datei
rows_missing_values_games.to_csv('missing_values_rows_games.csv', index=False)